@media (max-width: 576px) {
  .Todo-App {
    padding: 30px 20px;
  }
  .todo-form {
    width: 100%;
    background-color: #f6fafb;
  }
  .name-date {
    flex-direction: column;
  }
  .name-date input {
    width: 100%;
    margin-bottom: 15px;
  }
  .name-date input:last-child {
    margin-bottom: 0;
  }
  .tasks {
    width: 100%;
  }
}
